// variables
$hoverColor: #6960e4;

// breakpoints
$big-screen: 1180px;
$tablet: 960px;
$mobile: 600px;

// mixins
@mixin mediaQuery($breakpoint, $minOrMaxWidth: max-width) {
  @media only screen and (#{$minOrMaxWidth}: $breakpoint) {
    @content;
  }
}

// extend placeholders
%locationShadow {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 0.5em;
}

// font
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
