.main {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  height: 204px;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 3.1525em;
}

.errorContainer {
  display: grid;
  place-items: center;
  height: 100vh;

  .heading {
    align-self: flex-end;
  }

  .backBtn {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-size: 1.12rem;
    margin: 2em 0;
    padding: 0.75em 1.25em;
    cursor: pointer;
    width: 90%;
    max-width: 214px;
  }
}
