@use "resets";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  // height: 22.66vh;
  height: 204px;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 3.1525em;
}
