@use "../styles/base" as b;

.locationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-1.875em);
  // .form {
  //   position: absolute;
  // }

  .locationBtn {
    margin: 1.5em 0;
    border: none;
    padding: 0.625em;
    background: transparent;
    cursor: pointer;
    transform: 0.25s color ease-out;

    &:hover {
      color: b.$hoverColor;
    }

    .locationBtnText {
      font-size: 0.75rem;
      border-bottom: 1px solid #000;
    }
  }
}

.recentlyContainer {
  margin: 0.5em;
  // gap: 0.5em;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  .headingRecent {
    margin: 0.5em 0;
    font: {
      size: 0.75rem;
      weight: 400;
      style: normal;
    }
  }
}
