@use "../styles/base" as b;

.currentWeatherContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2em;
  background: #e8e8e8;
  border-radius: 0.625em;

  @include b.mediaQuery(b.$mobile) {
    justify-content: space-evenly;
    gap: 1em;
  }
}

.leftContainer {
  display: flex;
  align-items: flex-start;
  gap: 1.5em;
  font-weight: 500;

  .icon {
    color: #ffffff;
    font-size: 4.23rem;
  }

  .heading {
    font-size: 2.25rem;
    font-weight: 500;
  }

  .time {
    font-size: 1.5rem;
  }

  .updated {
    font-size: 0.75rem;
    line-height: 14.06px;
    color: #626262;
    margin-left: 0.5em;
  }
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.875rem;
  margin: 0 1.5625em;
  gap: 0.5em;

  .singleRow {
    height: 18px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5em;
  }

  .label {
    width: 96px;
    font-weight: 300;
  }
}
