.errorMessage {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0.75em auto;
  font-size: 1.15rem;
  color: rgb(233, 42, 42);
  gap: 0.15em;
  letter-spacing: 0.02em;

  .icon {
    font-size: 1.25rem;
  }
}
