@use "../styles/base" as b;

.forecastContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  margin-top: 4em;
  gap: 2em;

  @include b.mediaQuery(b.$mobile) {
    margin-top: 2em;
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 143px;
    padding: 0.9375em;
    border: 1px solid #d3d3d3;
    border-radius: 0.25em;
    gap: 0.6875em;

    .weekDay {
      font-weight: 500;
    }

    .icon {
      font-size: 1.75rem;
      color: #000;
    }

    .temp,
    .wind {
      font-size: 0.75rem;
    }
  }
}
