@use "../styles/base" as b;

.form {
  @include b.mediaQuery(b.$mobile) {
    width: 90%;
  }
}

.inputContainer {
  position: relative;

  .input {
    @extend %locationShadow;
    width: 501px;
    height: 58px;
    border: none;
    padding: 0 4.625em 0 2.625em;
    color: #111111;

    @include b.mediaQuery(b.$mobile) {
      width: 100%;
    }

    &::placeholder {
      font-size: 1.125rem;
      color: #bdbdbd;
    }

    &:focus {
      outline: none; // Should actually never be used because of accessibility, but I wanted the UI to look exactly like in the Figma file.
    }
  }

  .clearBtn {
    position: absolute;
    top: 50%;
    right: 0.625em;
    font-size: 0.75rem;
    padding: 0.625em 0.75em;
    background: transparent;
    color: #706d6d;
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
  }
}

.icon {
  position: absolute;
  left: 0.9em;
  top: 49%;
  font-size: 1.125rem;
  color: #828282;
  transform: translateY(-49%);

  &.active {
    color: #4f4f4f;
  }
}

.suggestionsContainer {
  @extend %locationShadow;
  width: 501px;
  max-height: 272px;
  transform: all 0.1s ease-out;
  margin-top: 1.5em;
  overflow-y: hidden;

  @include b.mediaQuery(b.$mobile) {
    width: 100%;
  }

  .suggestionsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    padding: 1.25em 1em;
  }

  .suggestion {
    position: relative;
    width: 100%;
    color: #111111;
    padding: 0.875em 0.75em;
    border-radius: 0.25em;
    list-style: none;
    cursor: pointer;

    &:hover:not(:last-of-type) {
      background: #f2f2f2;
    }

    &.active {
      background: #f2f2f2;

      &:after {
        position: absolute;
        content: 'Press Enter to select';
        font-size: 0.75rem;
        color: #706d6d;
        top: 50%;
        right: 2%;
        transform: translate(-2%, -50%);
      }
    }
  }
}
