@use "../styles/base" as b;

.container {
  width: 442px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  border-radius: 0.625em;
  padding: 1.25em;
  margin: 0.5em 0;

  @include b.mediaQuery(b.$mobile) {
    width: 100%;
  }

  .heading {
    font: {
      size: 1.5rem;
      weight: 500;
      style: normal;
    }
    text-transform: capitalize;
  }

  .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.625em;
    border: none;
    padding: 0.5em;
    background: transparent;
    cursor: pointer;
    gap: 0.625em;
    transition: 0.3s color ease-out;

    .text {
      font-weight: 500;
    }

    .icon {
      font-size: 2rem;
    }

    &:hover {
      color: b.$hoverColor;
    }
  }
}
