@use "../styles/base" as b;

.weatherHeader {
  display: grid;
  place-items: center;
  padding: 3.4375em 0 5.4375em 0;

  @include b.mediaQuery(b.$big-screen) {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 3em;
    padding-top: 2.5em;
  }
}

.logoContainer {
  position: absolute;
  left: 50.44px;
  top: 42.84px;

  @include b.mediaQuery(b.$big-screen) {
    position: inherit;
  }
}

.locationContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 6em;

  @include b.mediaQuery(b.$mobile) {
    margin-right: 4em;
  }

  .backBtn {
    display: flex;
    align-items: center;
    padding: 0.41em;
    font-size: 2rem;
    margin-right: 1em;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.25s color ease-out;

    @include b.mediaQuery(b.$mobile) {
      margin-right: 0.5em;
    }

    &:hover {
      color: b.$hoverColor;
    }
  }
}

.weatherContainer {
  max-width: 680px;
  align-items: center;
  margin: 0 auto;

  @include b.mediaQuery(b.$mobile) {
    padding: 0 0.75em;
  }
}
